name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"  # Runs every day at 12:00 UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate GitHub Contribution Snake
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?palette=github-dark

      - name: Upload snake files
        uses: actions/upload-artifact@v4
        with:
          name: snake
          path: dist/
